@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
  --variable-name: value;
}

selector {
  property: var(--variable-name);
}



/* Variables */
:root {
  --font-family: Verdana, sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #9580ff;
  --secondary-color: aqua;
  --primary-shadow: #9383a8;
  --secondary-shadow: #7ca9bb;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}


@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
    }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .equivate {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .equivate img {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .equivate-text {
    height: 37.5rem;
    width: 30rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}


@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .equivate {
    flex-direction: column;
  }

  .equivate img {
    width: 18.3rem;
  }

  .equivate-text {
    height: 37.5rem;
    width: 23rem;
  }

  .project-container {
    width: 17.875rem;
    margin-right: 12.5rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
} 

/*Main CSS */
html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
}

title{
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.body {
  margin: 0;
}


nav{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-size: cover;
}

.navigation{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

nav h1 {
    color: var(--primary-color);
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
    list-style: none;
  }

  nav ul.show {
    transform: translateX(0);
  }

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 575px;
    padding-top: 20px;
    background-color: #9580ff;
    background-image: linear-gradient(to right, white, #9580ff)
  }

  .hero img {
    height: 500px;
    width: 500px;
    margin-right: 20px;
  }
  
  .bio {
    width: 35rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px white;
    background-color: white;
    
  }

  .bio-text {
    width: 32rem;
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }


  .skills {
    display:flex;
    gap: 100px;
    background-color: white;
    /*max-width: 68.75rem; */
    width: 100%;
    margin: auto;
    text-align: center;
    /*margin-top: 2.5rem; */
    margin-top: 20px;
  }
  
  .skill-header {
    font-size: 45px;
    color: #9580ff;
    display: flex;
    align-self: center;
    margin-bottom: 1rem;
    margin-left: 250px;
  }

  .skills-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .skills-wrapper img {
    padding: 1.25rem;
  }

  .first-set {
    display: flex;
  }

  .second-set {
    display: flex;
  }
  
  .icon {
    width: 175px;
    height: 175px;
  }

  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }

  .section-divider1 {
    margin:auto;
    width: 75%;
  }

  .equivate {
    display: flex;
    margin-bottom: 40px;
  }

  .cherry-title {
    font-size: 30px;
  }

  .equivate-text {
    display: flex;
    flex-direction: column;
    min-width: 700px;
    margin-top: 80px;
    margin-left: 120px;
    gap: 16px;
  }

  .equivate-image {
    height: 37.5rem;
    width: 50rem;
    margin-right: 7.5rem;
    margin-top: 5rem;
  }

  .equivate h2 {
    font-weight: bold;
    color: #9580ff;
  }

  .equivate-list {
    gap: 24px;
  }

  .equivate li {
    margin-left: 36px;
    list-style-type: disc;
    font-size: 14px;
    line-height: 1.5;}

  .tech-stack {
    font-style: italic;
    margin-bottom: 30px;
  }

  .MVP {
    font-size: 20px;
    font-weight: bold;
  }

  .github {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
  }

  .section-divider2 {
    margin: auto;
    width: 75%;
  }

  .projects {
    background-color: white;
    padding: 32px 0;
    margin-top: 2rem;
  }

  .projects-title-subtitle {
    display: flex;
    flex-direction: column;
  }
  
  .project-pic {
    width: 65%;
    height: 65%;
  }
  
  .projects-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 50px;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .projects-subtitle {
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
    font-style: italic;
    font-size: small;
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact {
    margin-top: 2rem;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }

  .contact-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: #9580ff;
    background-image: linear-gradient(to left, white, #9580ff);
    height: 450px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }

  .contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--secondary-color);
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
   .input-field {
    width: 80%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
  }

  .input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
  }

  fieldset{
    display: flex;
    flex-direction: column;
    border: 0;
    gap: 4px;
  }

  .textarea {
    height: 60px;
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #9580ff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
  }

  .submit-btn:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
  }

  a{
    color: black;
  }
  

  .copyright{
    color: black;
  }

  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
  }
  
  .socicon {
    width: 2rem;
    height: 2rem;
  }

 .scroll-up {
   position: fixed;
   right: 1%;
   bottom: 1%;
   cursor: pointer;
   z-index: 999;
   /* Ensure it's above other elements */
 }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, white, #9580ff);
    padding: 1.25rem;
    text-align: center;
  }


  
